<% include ../partials/header %>


<div>
    <h1>Who am I?</h1>
    <p>
        UCLA, Lynbrook, studying CS, yadda yadda insert brief autobio here
    </p>
</div>
<div>
    <h1>Contact Info</h1>
    <ul>
        <li>Email: marcuspearce7@gmail.com</li>
        <li>Phone: (408)805-9459</li>
    </ul>
</div>

<a href="/">Home</a>


<% include ../partials/footer %>