<% include ./partials/header %>


<body>
    
<!--========== COLLAPSING BUTTONS ==========-->

    <div class="container-fluid">

        <div class="collapse" id="collapseExample">
            <a class = "btn btn-block btn-info" href="/">Home</a>
            <a class = "btn btn-block btn-info" href="/projects">Projects</a>
            <a class = "btn btn-block btn-info" href="/links">Links</a>
        </div>
    </div> 
    
<!--========== DROPDOWN LINE AND ARROW ==========-->
            
    <div class="container-fluid topBorder">
        
        <p class="dropdownArrow">
            <button class="btn dropdownArrowButton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <strong>﹀</strong>
            </button>
        </p>
        
<!--========== MAIN CONTENT ==========-->


        <div class="card myCard">
            <div class="row">
                <div class="col-4" >
                    <img class="myPhoto" src="https://lh3.googleusercontent.com/NKOZ7o0vZSvwgv_C7WqammHay8xM03NHJgWCvMhGlUoGTVhT-lMkEgeNoorxJFitxhAj0N3sEgERAYY3DdB6Eo6WY-ZTYt7PGq71i9xINaeU2SeJQh6Mnltd5OJdF00AsIkichIICg=w2400">
                </div>
                <div class="col-8 card-body">
                    <h1 class="card-title">
                        Hello, I'm Marcus!
                    </h1>
                    <p class="card-text">
                        I'm currently a freshman at UCLA studying computer science! I'm making this portfolio website over winter break and am trying my best to make it pretty. I promise to update this self-introduction with more info later :)
                    </p>
                </div>
            </div>
        </div>
        
    </div> <!-- end earlier div container -->
    
    
    <!--divider line-->
    <div class="topBorder" style="margin-bottom: 15px">
    </div>


    <!--coming soon banner-->
    <div class="jumbotron jumbotron-fluid comingSoon">
        <div class="container">
            <h1 class="display-4">Coming soon...</h1>
            <p class="lead">Experiences</p>
        </div>
    </div>



<% include ./partials/footer %>