<% include ./partials/header %>
    
    
<body class="pulsing"> <!-- for pulsing background -->

<!--========== COLLAPSING BUTTONS ==========-->

    <div class="container-fluid">

        <div class="collapse" id="collapseExample">
            <a class = "btn btn-block btn-info" href="/">Home</a>
            <a class = "btn btn-block btn-info" href="/about">About</a>
            <a class = "btn btn-block btn-info" href="/projects">Projects</a>
        </div>
    </div> 
    
<!--========== DROPDOWN LINE AND ARROW ==========-->
            
    <div class="container-fluid topBorder">
        
        <p class="dropdownArrow">
            <button class="btn dropdownArrowButton pulsing" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <strong>﹀</strong>
            </button>
        </p>
        
<!--========== MAIN CONTENT ==========-->
        
        <div id="home-main" class="row">
            <div class="col-12">
                <div class="typewriter">
                    <h1><strong>Marcus Pearce</strong></h1>
                </div>
                <p
                    ><em>Teacher. Leader. Budding Developer.</em>
                </p>
            </div>
        </div>
        
    </div>



<% include ./partials/footer %>