<% include ./partials/header %>


<div>
    <h1>Links</h1>
</div>

<div>
    <a href="https://github.com/marcuspearce">My Github</a>
</div>
<div>
    <a>My resume (make downloadable)</a>
</div>

<a href="/">Home</a>


<% include ./partials/footer %>