<% include ./partials/header %>


<body>
    
<!--========== COLLAPSING BUTTONS ==========-->

    <div class="container-fluid">

        <div class="collapse" id="collapseExample">
            <a class = "btn btn-block btn-info" href="/">Home</a>
            <a class = "btn btn-block btn-info" href="/about">About</a>
            <a class = "btn btn-block btn-info" href="/projects">Projects</a>
            
        </div>
    </div> 
    
<!--========== DROPDOWN LINE AND ARROW ==========-->
            
    <div class="container-fluid topBorder">
        
        <p class="dropdownArrow">
            <button class="btn dropdownArrowButton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <strong>﹀</strong>
            </button>
        </p>
        
<!--========== MAIN CONTENT ==========-->

        <div id="linkContactHeader" class="jumbotron">
            <div class="container">
                <h1 class="display-4">Contact/Links</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6">
                <div class="card myCard">
                    <h1 class="card-title">
                        Contact Info
                    </h1>
                    <p class="card-text">
                        Email: marcuspearce7@gmail.com
                    </p>
                    <p class="card-text">
                        Phone: (408)805-9459
                    </p>
                </div>
            <div class="col-6">
                <div class="card myCard">
                    <h1 class="card-title">
                        Links
                    </h1>
                    <p class="card-text">
                        Email: marcuspearce7@gmail.com
                    </p>
                    <p class="card-text">
                        Phone: (408)805-9459
                    </p>
                </div>
            </div>
        </div>


    <div>
        <h1>Links</h1>
    </div>
    
    <div>
        <a href="https://github.com/marcuspearce">My Github</a>
    </div>
    <div>
        <a>My resume (make downloadable)</a>
    </div>
    <div>
        <h1>Contact Info</h1>
        <ul>
            <li>Email: marcuspearce7@gmail.com</li>
            <li>Phone: (408)805-9459</li>
        </ul>
    </div>
    




<% include ./partials/footer %>