<% include ./partials/header %>

<div>
    <h1>Projects</h1>
    <p>A glimpse into some of my personal projects ... more to come</p>
</div>

<div>
    <h1>Car Show</h1>
    <p>Insert description from README -> summary of what this project is</p>
    <p>Add a screenshot (or more?)</p>
    <a>link to github</a>
</div>

<div>
    <h1>Peckman</h1>
    <p>Rendition of pacman w/ name lovingly inspired by my APCS teacher. Insert description from README -> summary of what this project is</p>
    <p>Add a screenshot (or more?)</p>
    <a>link to github</a>
</div>


<a href="/">Home</a>


<% include ./partials/footer %>