body {
  color: white;
  background: #111;
}

#home-main {
  margin: 15% 0 0 0;
  text-align:center;
}

#projectTitle {
  text-align:center;
  letter-spacing:.05em;
  margin-bottom:30px;
}

/*========== COMING SOON BANNER JUMBOTRON ========== */

.comingSoon {
  /*background:#343a40;*/
  background: #b38600;
}

/*========== CARD (AUTOBIO, PROJECTS) ========== */

.myPhoto {
  border-radius: 8px;
  width:100%;
  margin:10px;
}
.myCard {
  background: #343a40;
  margin-bottom: 50px;
}

/*========== DOWN ARROW FOR DROPDOWN ========== */

.dropdownArrow {
  text-align: center;
}
.dropdownArrowButton {
  font-size:200%;
  color:white;
  letter-spacing: .1em; 
  background: #111;
}

/*========== BORDER LINE ==========*/

.topBorder {
	border-top: 2px solid white;
	width:100%;
	padding-top: 20px;
}

/*========== PULSING BACKGROUND EFFECT ==========*/

.pulsing {
  animation: 
    pulse 2.5s infinite;
}
@keyframes pulse {
  0% {
    background-color: #000;
  }
  50% {
    background-color: #222;
  }
  100% {
    background-color: #000;
  }
}

/* ========== TYPE OUT EFFECT ========== */

.typewriter {
  display:inline-block; /*so only as big as content*/
}
.typewriter h1 {
  font-size:3.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #17a2b8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .1em; 
  animation: 
    type 1s steps(20, end),
    blinkCursor .5s step-end infinite;
}
/* The typing effect */
@keyframes type {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinkCursor {
  from, to { border-color: transparent }
  50% { border-color: #17a2b8 }
}