body {
  color: white;
  background: #222;
}

#home-body {
  /*code for pulsing background colour*/
  background: #222;
  animation-name: pulse;
  animation-duration:2.5s;
  animation-iteration-count:infinite;
}

#home-border {
  /*Below for border*/
	border-top: 2px solid white;
	width:90%;
	padding-top: 20px;
}

.myBtn {
  width:33.3%;
  background:cyan;
}

#home-top {
  margin: 2.5% 0;
}

#home-main {
  margin: 20% 0 0 0;
  text-align:center;
}

/*.home-row{*/
/*  text-align: center;*/
/*}*/


/*========== PULSING BACKGROUND EFFECT ==========*/

@keyframes pulse {
  0% {
    background-color: #343a40;
  }
  50% {
    background-color: #000;
  }
  100% {
    background-color: #343a40;
  }
}


/* ========== TYPE OUT EFFECT ========== */

.typewriter {
  display:inline-block; /*so only as big as content*/
}
.typewriter h1 {
  font-size:3.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid cyan; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .1em; /* Adjust as needed */
  /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    type 1s steps(20, end),
    blinkCursor .5s step-end infinite;
}
/* The typing effect */
@keyframes type {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinkCursor {
  from, to { border-color: transparent }
  50% { border-color: cyan }
}